body{
    background-color: gray;
    margin: 0;
    padding: 0;
}
    
.topnav{
    position: absolute;
    top: 30px;
    right: 180px;
  }
  
  .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      margin-inline-end: 10px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    /* starting main content */

    .first-section{
        margin-top: 100px;
        margin-left: 150px;
        float: left;
      }
      
      .salutation-color{
        font-size: 240%;
      }
      
      .name-color{
        font-size: 240%;
        color:lavenderblush ;
      }
      .profilepic1{
        height: 43Opx;
        width: 400px;
        border-radius: 100%;
        margin-top: opx;
      }

      /* 2nd picture */

      .about-me{
        margin-top: 170px;
        margin-left: 100px;
      } 
      .details{
        margin-left: 10px;
      }
      
      
      
      .btn1{
        background-color:mediumorchid;
        color:darksalmon;
        border-radius: 20%;
        border:gray;
        font-size: 100%;
      }
      .second-section{
        margin-top: 10px;
        margin-right: 100PX;
        padding: 0%;
        float: left;
      }

      .d-btn{
          background-color: lightgrey;
          color: peru;
          border-radius: 20%;
          font-size: 100%;
      }

      .end-section{
          text-align: center;
          margin-top: 50px;
      }

      /* last part */
      .end-section{
        display:inline-flex;
        margin-top:10px;
        margin-left:50px;
        float:right;
    }
      .project-pic{
        height: 400px;
        width: 300px;
        border-radius: 100%;
      }
      /* end-box{
        background-color: cyan;
        box-shadow: darkmagenta;
        margin-top: 100px;
        display: inline-block;
      } */
      
      .working-projects{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        align-items:flex-start;
      
      }
      .project-pic{
          flex: 1;
          max-width: 100%;
          height: auto;
          max-height: 310px;
          }
      
      
      